@import '@variables';

.navigation {
  height: $navbar-height;
  padding-top: 24px;
  display: flex;
  font-weight: $font-regular;
  justify-content: space-between;

  ul {
    margin-top: 16px;

    li {
      display: inline-block;
      font-size: 1.2rem;
      .navLink {
        color: $primary-grey;
        text-decoration: none;

        &:visited,
        &:hover,
        &:active {
          color: $primary-grey;
          text-decoration: none;
        }
      }

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  .icon {
    margin-right: auto;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: $desktop-break) {
  .navigation {
    margin: 0 auto;
    width: 1017px;
  }
}

@media screen and (min-width: $mobile-break) and (max-width: $desktop-break) {
  .navigation {
    margin: 0 122px;
  }
}

@media screen and (max-width: $mobile-break) {
  .navigation {
    margin: 0 12px;

    ul {
      margin-right: 8px;
    }
  }
}
