@import '@variables';

.customLink {
  color: $accent-color;
  text-decoration: none;
}

.customH1 {
  color: $primary-grey;
  font-weight: $font-light;
  font-size: 2.2rem;
  padding-bottom: 12px;
  line-height: 1.25;
}

.customH2 {
  color: $primary-grey;
  font-weight: $font-bold;
  font-size: 1.8rem;
  padding-bottom: 12px;
  line-height: 1.25;
  padding-top: 30px;
}

.customH3 {
  color: $primary-grey;
  font-weight: $font-semi-bold;
  font-size: 1.6rem;
  padding-bottom: 12px;
  line-height: 1.25;
}

.customH4 {
  color: $primary-grey;
  font-weight: $font-semi-bold;
  font-size: 1.4rem;
  padding-bottom: 12px;
  line-height: 1.25;
}

.customH5 {
  color: $primary-grey;
  font-weight: $font-semi-bold;
  font-size: 1.2rem;
  padding-bottom: 12px;
  line-height: 1.25;
}

.customP {
  color: $primary-grey;
  padding-bottom: 8px;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
}

.customCaption {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: normal;
}

.customStrong {
  font-weight: $font-bold;
}

.customUl {
  padding-left: 20px;
  margin-bottom: 8px;
}
