// Default variables
$primary-grey: #2e2e2e;
$subtle-grey: #a1a1a1;
$accent-color: #068936;
$secondary-accent-color: #0ad153;
$font-bold: 700;
$font-semi-bold: 600;
$font-regular: 400;
$font-light: 300;

$mobile-break: 740px;
$desktop-break: 1278px;

$navbar-height: 100px;
$footer-height: 282px;
$main-height: calc(100vh - #{$navbar-height + $footer-height});

// Mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:export {
  primary-grey: $primary-grey;
  subtle-grey: $subtle-grey;
  accent-color: $accent-color;
  secondary-accent-color: $secondary-accent-color;
  font-bold: $font-bold;
  font-semi-bold: $font-semi-bold;
  font-regular: $font-regular;
  font-light: $font-light;

  mobile-break: $mobile-break;
  desktop-break: $desktop-break;

  navbar-height: $navbar-height;
  footer-height: $footer-height;
  main-height: $main-height;

  center: center;
}
