@import './../../variables';

.blog-post {
  padding-top: 100px;
  padding-bottom: 50px;

  .crumb {
    text-decoration: none;
    color: $secondary-accent-color;
  }

  .title {
    font-size: 1.1rem;
  }

  .date {
    color: $subtle-grey;
    font-size: 1rem;
  }
}
