@import '@variables';

.blogPost {
  padding-top: 100px;
  padding-bottom: 50px;

  .crumb {
    text-decoration: none;
    color: $secondary-accent-color;
  }

  .title {
    font-size: 1.1rem;
    width: 80%;
  }

  .date {
    color: $subtle-grey;
    font-size: 1rem;
  }
}
