@import './../../variables';

.blog {
  padding-top: 100px;
  padding-bottom: 50px;

  ul {
    list-style-type: none;

    li {
      .title {
        display: block;
        font-size: 20px;
        font-weight: $font-semi-bold;
        color: $accent-color;
        text-decoration: none;
      }

      time {
        display: block;
        color: $subtle-grey;
        font-weight: $font-semi-bold;
        margin-bottom: 8px;
      }

      .description {
        font-size: 16px;
        margin-bottom: 40px;
        color: $primary-grey;
      }
    }
  }
}
