@import "./../../variables";

.blog {
	padding-top: 100px;

	ul {
		list-style-type: none;

		li {
			.title {
				display: block;
				font-size: 20px;
				color: $mint-chip-color;
				text-decoration: none;
				margin-bottom: 8px;
			}

			.description {
				font-size: 16px;
				margin-bottom: 40px;
				color: $main-color;
			}
		}
	}
}
