@import '@variables';

@media screen and (min-width: $mobile-break) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 4fr;

    .leftColumn {
      font-size: 1.2rem;
      grid-row: 1;
      grid-column: 1;
    }

    .rightColumn {
      grid-row: 1;
      grid-column: 2/4;
    }
  }
}

@media screen and (max-width: $mobile-break) {
  .leftColumn {
    margin-bottom: 12px;
    font-size: 1.2rem;
    vertical-align: top;
  }
}
