@import '@variables';

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .imageHolder {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;

    img {
      height: 100%;
    }
  }

  ul {
    list-style-type: none;
    min-width: 250px;

    li {
      @include center;
      padding: 16px 8px;
      border-radius: 4px;
      border: 1px solid $subtle-grey;
      background: white;
      cursor: pointer;

      i {
        margin-right: 8px;
      }

      .fa-twitter {
        color: #55acee;
      }

      .fa-soundcloud {
        color: #ff7700;
      }

      .fa-instagram {
        color: #c13584;
      }

      .fa-youtube {
        color: #ff0000;
      }

      .fa-twitch {
        color: #6441a5;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
