@import "./../../variables";

.links {
	display: flex;
	flex-direction: column;
	align-items: center;

	ul {
		list-style-type: none;

		li {
			padding: 16px 8px;
			border: 1px solid gray;
			border-radius: 8px;
			cursor: pointer;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
}
